h1 {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
}
html {
    background-color: black;
}
.text-color {
    color: white;
    text-align: center;
    text-transform: capitalize;
}
div {
    width: 50%;
    margin-left: 25%;
}
img {
    border: 5px solid white;
    width: 100%;
}
