<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Title</title>-->
<!--</head>-->
<!--<body>-->

<!--</body>-->
<!--</html>-->
{% extends "index.html" %}
{% block title %}Edit My Ratings{% endblock %}
{% block header %}{% endblock %}
{% block paragraph %}
<p>Book Name: {{ user_data.title }} </p>
<p>Current Rating: {{ user_data.rating }}</p>
<form action="{{ url_for('edit', id=user_data.id) }}" method="POST">
    <input type="text" id="rating" name="rating" placeholder="New Rating"/>
    <button type="submit">Change Rating</button>
</form>

{% endblock %}

{% block link %}{% endblock %}
